{% extends "layout.html" %}

{% block content %}
  <div class="col-sm-12">
    <div class="landing__hero">
      <div class="logo"></div>
      <div class="tagline__primary">Mayk your work beautiful</div>
      <div class="tagline__secondary">Your GitHub should reflect all of your work</div>
      <div class="landing__button">
        <a class="btn mayk-button-primary btn-block" href="/login">LOG IN WITH GITHUB</a>
      </div>
    </div>
    <div class="landing__section">
      <div class="github__transform">
        <div class="github__public">
          <div class="title__medium">Turn this</div>
          <div class="commit-graph">
          </div>
        </div>
        <div class="commit__connection"></div>
        <div class="github__private">
          <div class="title__large">Into this</div>
          <div class="commit-graph">
        </div>
        <!-- <div class="title_large">Mayk your private contributions graph visible</div>
        <div class="title_large">Show that you are hard at work</div> -->
      </div>
    </div>
    <div class="landing__section">
      <div class="personal__profile">
        <div class="header">In-Depth Personal Profile</div>
        <div class="sep"></div>
        <div class="body">
          <p>Breakdown your work by languages over time</p>
          <p>Show off what you know and what your are <span class="action__blue">learning</span></p>
        </div>
      </div>
      <div class="languages-bar-chart"></div>
    </div>
    <div class="landing__section">
    </div>
    <div class="landing__section">
    </div>
    <div class="landing__section">
    </div>
    <hr>
    <div class="landing__section footer">
      <div class="logos__sprintly-labs"></div>
    </div>
{% endblock %}
